    <!-- Start Gallery -->
    <div class="gallery" id="gallery">
        <h2 class="main-title">Gallery</h2>
        <div class="container">
          <div class="box">
            <div class="image">
              <img src="assets/imgs/gallery-01.png" alt="" />
            </div>
          </div>
          <div class="box">
            <div class="image">
              <img src="assets/imgs/gallery-02.png" alt="" />
            </div>
          </div>
          <div class="box">
            <div class="image">
              <img src="assets/imgs/gallery-03.jpg" alt="" />
            </div>
          </div>
          <div class="box">
            <div class="image">
              <img src="assets/imgs/gallery-04.png" alt="" />
            </div>
          </div>
          <div class="box">
            <div class="image">
              <img src="assets/imgs/gallery-05.jpg" alt="" />
            </div>
          </div>
          <div class="box">
            <div class="image">
              <img src="assets/imgs/gallery-06.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- End Gallery -->
