    <!-- Start Landing -->
    <div class="landing">
        <div class="container">
          <div class="text">
            <h1>Welcome, To Coconsult World</h1>
            <p>Congratulations! You are among the privileged few who can follow Coconsole’s journey towards ISO 9001 certification in real time. Stay tuned to discover every step and behind-the-scenes insights of this success!</p>
            <div class="container12">
              <a routerLink="/register" class="button type--C">
                <div class="button__line"></div>
                <div class="button__line"></div>
                <span class="button__text">LOGIN</span>
                <div class="button__drow1"></div>
                <div class="button__drow2"></div>
              </a>
            </div>
          </div>
          <div class="image">
            <img src="assets/imgs/landing-image.png" alt="" />
          </div>
        </div>
        <a href="#articles" class="go-down">
          <i class="fas fa-angle-double-down fa-2x"></i>
        </a>
      </div>
      <!-- End Landing -->
